@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Employee";
}
@model Employee
<h1 class="bg-info text-white">Create Employee</h1>
<a asp-action="Index" class="btn btn-primary">Back</a>
<form method="post">
    <div class="form-group">
        <label asp-for="name">Employee Name</label>
        <input asp-for="name" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="designation">Designation</label>
        <input asp-for="designation" type="text" asp-items="ViewBag.Department" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Department">Department Id</label>
        <input asp-for="DepartmentId" type="text" class="form-control" />
    </div>
    
    <br />
    <button type="submit" button="btn btn-primary">Submit</button>

</form>
