
@{
    ViewBag.Title = "Login";
}

@model string
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
<h2>
    Current Date and Time :
    @HttpContextAccessor.HttpContext.Session.GetString("CurrentDateTime");
    @HttpContextAccessor.HttpContext.Session.GetInt32("CurrentYear");
</h2>
<h2>Login</h2>


@if (Model != null)
{
    <div class="alert alert-danger">Login Failed</div>
}


@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}


<form method="post">
    <table class="w-25 table table-striped table-bordered">
        <tbody>
            <tr>
                <th>User Name :</th>
                <td><input type="text" name="username" /></td>
            </tr>
            <tr>
                <th>Password:</th>
                <td><input type="password" name="password" /></td>
            </tr>
          
               
                   
           
        </tbody>


    </table>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>