@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2> THe Current Date is : @ViewBag.CurrentDateTime</h2>
<h2> THe Current Year is : @ViewBag.CurrentYear</h2>