@model Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table border="2" align="center" width="70%">
    <tr>
        <th Person Details</th>
    </tr>

    <tr>
        <th>Product Id :</th>
        <th>@Model.productId</th>
    </tr>
    <tr>
        <th>Product Name :</th>
        <th>@Model.productName</th>
    </tr>
    <tr>
        <th>Product Price :</th>
        <th>@Model.productPrice</th>
    </tr>

</table>
